
.search-result {
    
    margin-top: 0;
    padding-left: 0;

    &__item{
        background-color: var(--color-grey-200);
        border: var(--solid-border-size) solid var(--color-grey);
        box-sizing: border-box;
        color: var(--color-grey-800);
        display: inline;
        list-style-type: none;
        max-width: var(--max-width-size);
        padding: var(--spacing-small);
        position: relative;
        text-decoration: none;
        vertical-align: top;
        width: 100%;
        
        &:hover {
            background-color: var(--color-grey-800);
            color: var(--color-grey-200);
        }
    }
    &__link{
        color: inherit;
        text-decoration: none;
    }
}
